Flask
Flask-Admin
Flask-JWT-Extended
Flask-Limiter
Flask-Migrate
Flask-SQLAlchemy
google-generativeai
gunicorn
langchain
marshmallow
pgvector
psycopg2-binary
pypdf
python-dotenv
requests
WTForms==3.0.1
Flask-Cors
pymemcache
whitenoise
celery
redis
Flask-WTF
python-json-logger
