Flask
Flask-Admin
Flask-JWT-Extended
Flask-Limiter
Flask-Migrate
Flask-SQLAlchemy
google-generativeai
langchain
langchain-text-splitters
marshmallow
pgvector
psycopg2-binary
pypdf
python-dotenv
requests
WTForms
Flask-Cors
pymemcache
celery
redis
Flask-WTF
tenacity
openai
uvicorn
asgiref